# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3

# Environment Variables
.env

# Static and Media files
/staticfiles/
/mediafiles/

# PyCharm
.idea/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
